nav {
  height: 80px;
  width: 100%;
  background: #222; }

.logo-container {
  display: inline-block;
  margin: 0;
  height: 80px;
  width: 80px;
  line-height: 80px;
  padding: 10px 0 10px 20px; }
  .logo-container a {
    color: #A00; }
  .logo-container i {
    font-size: 60px;
    font-weight: bold; }

.menu-container {
  vertical-align: top;
  float: right;
  height: 80px; }
  .menu-container ul {
    margin: 0;
    float: right; }
  .menu-container li {
    float: left;
    display: inline-block;
    line-height: 80px;
    font-size: 1.3em; }
  .menu-container li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #AAA; }
  .menu-container a {
    padding: 28.5px 15px;
    text-decoration: none;
    color: #AAA; }

footer {
  display: inline-block;
  padding: 10px 0;
  height: 300px;
  width: 100%;
  color: black;
  background-color: #bbb; }

.store, .service, .social {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  text-align: left; }

footer li {
  list-style: none; }

.social li {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px; }

* {
  box-sizing: border-box; }

h1 {
  font-family: 'Roboto', sans-serif; }

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }

.wrapper h1 {
  text-align: center;
  color: #2bb; }

/**********************main-section****************/
.main-wrapper .main-img-container, .main-wrapper .main-description {
  float: left;
  margin-top: 30px;
  height: 500px; }
.main-wrapper .main-img-container {
  width: 50%;
  background: red;
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
  background-image: url("../img/wall.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.main-wrapper .main-description {
  width: 50%; }
.main-wrapper .main-description h1 {
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: 400;
  padding-top: 40px; }
.main-wrapper .main-description p {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  padding: 20px 20px 0 20px;
  font-family: 'Oswald', sans-serif; }
.main-wrapper .main-description .learn-more {
  text-align: center;
  padding-top: 30px; }
.main-wrapper .main-description .learn-more a {
  text-decoration: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  height: 20px;
  width: 90px;
  color: #fff;
  background: #222;
  border-radius: 7px; }
.main-wrapper .learn-more a:hover {
  color: grey; }

/********clothing page**********/
.clothing-category {
  height: 55px;
  width: 100%;
  background: #222;
  margin-top: 0;
  margin-bottom: 20px;
  vertical-align: top; }

.clothing-category .clothing-category-list a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin: 10px 10px;
  padding-top: 13px;
  height: 50px;
  width: 90px; }

.clothing-category .clothing-category-list a:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.main-clothing-section .clothing-img-container-1, .main-clothing-section .clothing-img-container-2 {
  float: left;
  margin-top: -15px;
  height: 500px;
  width: 50%;
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.main-clothing-section .clothing-card-description-1, .main-clothing-section .clothing-card-description-2, .main-clothing-section .clothing-card-description-3 {
  height: 250px;
  width: 100%;
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.6; }
.main-clothing-section .clothing-card-description-1 {
  background-image: url("../img/modle.jpeg"); }
.main-clothing-section .clothing-card-description-2 {
  background-image: url("../img/menclothing.jpg"); }
.main-clothing-section .clothing-card-description-3 {
  background-image: url("../img/kids.png"); }
.main-clothing-section .clothing-img-container-1 {
  background-image: url("../img/model-1.jpg"); }
.main-clothing-section .clothing-img-container-2 {
  background-image: url("../img/modle-2.jpg"); }
.main-clothing-section .clearfix::after {
  content: "";
  display: table;
  clear: both; }
.main-clothing-section .card-1, .main-clothing-section .card-2, .main-clothing-section .card-3 {
  height: 300px;
  background: #444;
  position: relative;
  border-radius: 9px; }
.main-clothing-section .clothing-card-description-1 h1 a, .main-clothing-section .clothing-card-description-2 h1 a, .main-clothing-section .clothing-card-description-3 h1 a {
  text-align: center;
  padding: 10px 50px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 50px; }
.main-clothing-section .clothing-card-description-1 h1 a, .main-clothing-section .clothing-card-description-2 h1 a, .main-clothing-section .clothing-card-description-3 h1 a {
  text-align: center;
  padding: 10px 50px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 50px; }
.main-clothing-section .clothing-card-description-1 h1 a:hover {
  color: grey; }
.main-clothing-section .clothing-card-description-2 h1 a:hover {
  color: grey; }
.main-clothing-section .clothing-card-description-3 h1 a:hover {
  color: grey; }
.main-clothing-section .card-1 p, .main-clothing-section .card-2 p, .main-clothing-section .card-3 p {
  text-align: center;
  padding: 10px auto;
  margin-top: 7px;
  text-decoration: none;
  color: #fff; }

/**********************/
.card-1 p, .card-2 p, .card-3 p {
  text-align: center;
  padding: 10px auto;
  margin-top: 7px;
  text-decoration: none;
  color: #fff; }

/*********************Nav***************************/
nav {
  height: 80px;
  width: 100%;
  background-color: #222;
  color: white; }

.logo-container {
  height: 60px; }

.logo-container i {
  color: red; }

/*********************Hero***************************/
.hero, .hero-mini {
  padding: 10px 0;
  width: 100%;
  background-color: grey;
  color: black;
  height: 700px;
  background-position: 50% 50%;
  background-image: url("../img/hero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hero-2 {
  padding: 10px 0;
  width: 100%;
  background-color: grey;
  color: black;
  height: 400px;
  background-position: 50% 50%;
  background-image: url("../img/fashion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hero-container {
  color: white;
  padding-top: 300px;
  text-align: center; }

.hero-container h1 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.hero-container p {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.hero-container {
  color: white;
  padding-top: 300px;
  text-align: center; }

.hero-container h1 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.hero-container p {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.button {
  text-align: center; }

.hero-mini {
  height: 200px; }

.hero-container {
  color: white;
  padding-top: 300px;
  text-align: center; }

.hero-container h1 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.hero-container p {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.1em 0.1em 25px;
  text-align: center; }

.button {
  text-align: center; }

.hero-mini {
  height: 300px; }

.about-hero {
  padding: 10px 0;
  height: 400px;
  width: 100%;
  background-image: url(../img/about-hero.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black; }

/*********************Main***************************/
main {
  padding: 10px 0;
  width: 100%; }

.bag1, .bag2, .bag3, .bag4, .bag5, .bag6, .bag6, .bag7, .bag8, .bag9, .bag10, .bag11, .bag12 {
  padding: 20px;
  height: 200px;
  padding-top: 100px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bag1 {
  background-image: url(../img/bag1.jpg); }

.bag2 {
  background-image: url(../img/bag2.jpg); }

.bag3 {
  background-image: url(../img/bag3.jpg); }

.bag4 {
  background-image: url(../img/bag4.gif); }

.bag5 {
  background-image: url(../img/bag5.jpg); }

.bag6 {
  background-image: url(../img/backpack.jpg); }

.bag7 {
  background-image: url(../img/men-bag.jpg); }

.bag8 {
  background-image: url(../img/office-bag.jpg); }

.bag9 {
  background-image: url(../img/bear.jpg); }

.bag10 {
  background-image: url(../img/lunch-kit.jpg_256); }

.bag11 {
  background-image: url(../img/minion.jpg); }

.bag12 {
  background-image: url(../img/truck.jpg); }

/**************Contact*********************************/
.contact-label {
  color: black;
  font-size: 20px; }

.wrapper p {
  color: black; }

/*********************Footer***************************/
footer {
  padding: 10px 0;
  height: 300px;
  width: 100%;
  background-color: grey;
  color: black; }

.card {
  height: 350px;
  background: #333;
  position: relative;
  box-shadow: 6px 20px 20px 2px rgba(0, 0, 0, 0.08); }

.card-description {
  background: #AAA;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-overflow: ellipsis;
  overflow: hidden; }

.card-description h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 12px;
  margin-top: 0;
  color: #1D2129; }

.card-description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4B4F56; }

.bio-1, .bio-2, .bio-3, .bio-4, .bio-5, .bio-6, .bio-7, .bio-8, .bio-9, .bio-10, .bio-11, .bio-12 {
  height: calc(100% - 150px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bio-1 {
  background-image: url(../img/bio-01.jpg); }

.bio-2 {
  background-image: url(../img/bio-02.jpg); }

.bio-3 {
  background-image: url(../img/bio-03.jpg); }

.bio-4 {
  background-image: url(../img/bio-04.jpg); }

.bio-5 {
  background-image: url(../img/bio-05.jpg); }

.bio-6 {
  background-image: url(../img/bio-06.jpg); }

.bio-7 {
  background-image: url(../img/bio-07.jpg); }

.bio-8 {
  background-image: url(../img/bio-08.jpg); }

.bio-9 {
  background-image: url(../img/bio-09.jpg); }

.bio-10 {
  background-image: url(../img/bio-010.jpg); }

.bio-11 {
  background-image: url(../img/bio-011.jpg); }

.bio-12 {
  background-image: url(../img/bio-012.jpg); }

/*********************Footer***************************/
footer {
  display: inline-block;
  padding: 10px 0;
  height: 300px;
  width: 100%;
  color: black;
  background-color: #bbb; }

.store, .service, .social {
  margin-left: 50px;
  padding: 20px; }

footer li {
  list-style: none; }

.social li {
  display: inline-block;
  font-size: 20px; }

/* * * * * * * * * * * * * * * * * * * * *
Row
* * * * * * * * * * * * * * * * * * * * */
.row {
  width: 100%; }

.row .column {
  float: left;
  margin: 10px 1%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

/* * * * * * * * * * * * * * * * * * * * *
Columns
* * * * * * * * * * * * * * * * * * * * */
.small-1 {
  width: 6.333333333333334%; }

.small-2 {
  width: 14.666666666666668%; }

.small-3 {
  width: 23%; }

.small-4 {
  width: 31.333333333333336%; }

.small-5 {
  width: 39.66666666666667%; }

.small-6 {
  width: 48.00000000000001%; }

.small-7 {
  width: 56.333333333333336%; }

.small-8 {
  width: 64.66666666666667%; }

.small-9 {
  width: 73%; }

.small-10 {
  width: 81.33333333333333%; }

.small-11 {
  width: 89.66666666666667%; }

.small-12 {
  width: 98%; }

@media (min-width: 720px) {
  .medium-1 {
    width: 6.333333333333334%; }

  .medium-2 {
    width: 14.666666666666668%; }

  .medium-3 {
    width: 23%; }

  .medium-4 {
    width: 31.333333333333336%; }

  .medium-5 {
    width: 39.66666666666667%; }

  .medium-6 {
    width: 48.00000000000001%; }

  .medium-7 {
    width: 56.333333333333336%; }

  .medium-8 {
    width: 64.66666666666667%; }

  .medium-9 {
    width: 73%; }

  .medium-10 {
    width: 81.33333333333333%; }

  .medium-11 {
    width: 89.66666666666667%; }

  .medium-12 {
    width: 98%; } }
@media (min-width: 1040px) {
  .large-1 {
    width: 6.333333333333334%; }

  .large-2 {
    width: 14.666666666666668%; }

  .large-3 {
    width: 23%; }

  .large-4 {
    width: 31.333333333333336%; }

  .large-5 {
    width: 39.66666666666667%; }

  .large-6 {
    width: 48.00000000000001%; }

  .large-7 {
    width: 56.333333333333336%; }

  .large-8 {
    width: 64.66666666666667%; }

  .large-9 {
    width: 73%; }

  .large-10 {
    width: 81.33333333333333%; }

  .large-11 {
    width: 89.66666666666667%; }

  .large-12 {
    width: 98%; } }

/*# sourceMappingURL=main.css.map */
