/*********************Footer***************************/

footer{
  display: inline-block;
  padding:10px 0;
  height: 300px;
  width: 100%;
  color: black;
  background-color: #bbb;
}

.store, .service, .social{
  margin-left: 50px;
  padding:20px;
}
footer li{
  list-style: none;
}

.social li{
  display: inline-block;
  font-size: 30px;
  margin-left:10px;
}